{% extends "huddleupapp/base.html" %}

{% block navbar %}
<ul>
  <li><a href="{% url 'huddleupapp:index'%}">Home</a></li>
  <li><a href="{% url 'huddleupapp:aboutus'%}">Meet the Creators</a></li>
  {% if user.is_authenticated %}
     <li><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li> 
  {% else %}
     <li><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>   
  {% endif %}
{% endblock %}
{% block content %}
<title>HuddleUp UserProfile</title>
<h1>{{ user.first_name}} {{user.last_name}}'s Contacts:</h1>
{% csrf_token %}
{% if contact_list %}
	{% for contact in contact_list %}
	<p>
	{{contact.id}}. {{ contact.contact_firstname }} {{ contact.contact_lastname }}
	{% if contact.contact_username == "anneh" %}
			{% load static %} 
			<img src="{% static "huddleupapp/assets/anne.jpg" %}"  width=300px height=300px alt="Anne Picture"/>
	{% elif contact.contact_username == "mahletc" %}
			{% load static %} 
			<img src="{% static "huddleupapp/assets/mahlet.jpg" %}"  width=300px height=300px alt="Anne Picture"/>
	{% elif contact.contact_username == "monicac" %}
			{% load static %} 
			<img src="{% static "huddleupapp/assets/monica.jpg" %}"  width=300px height=300px alt="Anne Picture"/>
	{% elif contact.contact_username == "tinab" %}
			{% load static %} 
			<img src="{% static "huddleupapp/assets/tina.jpg" %}"  width=300px height=300px alt="Anne Picture"/>
	{% endif %}
	<br>
	</p>
	{% endfor %}
	</p>
{% else %}
	<p>This user has no contacts</p>
{% endif %}
{% endblock %}
