{% extends "huddleupapp/base.html" %}

{% block title %}{{ section.title }}{% endblock %}

{% block navbar %}
<ul>
  <li><a href="index.html">Home</a></li>
  <li><a href="#box3">Meet the Creators</a></li>
  <li><a href="../accounts/login">Sign In</a></li>
</ul>
{% endblock %}
{% block content %}
<title>HuddleUp UserProfile</title>
<h1>{{ user.username }}</h1>
{% csrf_token %}
{% for choice in user_id.friend_set.all %}
    <input type="radio" name="friend" id="friend{{ forloop.counter }}" value="{{ friend.id }}"/>
    <label for="friend{{ forloop.counter }}">{{ friend.username }}</label><br />
{% endfor %}
{% endblock %}
